:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: rgba(255, 255, 0, 0.24);
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	min-width: 100vw;
	min-height: 100%;
}

#root {
	flex: 1;
	display: flex;
}

#boxContainer {
	height: 150px;
	width: 150px;
	position: absolute;
	border: 1px solid white;
}
